h1 {
    text-align: center;
}
.ahi-employee-form{
    width:65%;
    margin-left: 17%;
    margin-right:17%;
}
.adddisplay {
    float:left;
    margin-left:80%;
}
.deldisplay {
    float:left;
    margin-left:2%;
}
.canceldisplay{
    float:left;
    margin-left: 26%;
}
.resetdisplay {
    float: left;
    margin-left:5%;
}
th,td {
    border:1px solid rgb(182, 180, 180) !important;
}
.form-inline1 {
    // display: inline !important;
    width:70%;
}
.form-inline1.form-control {
    width:70%;
}


    
$default: rgba(#000000, 0.2);
$default-text: #ffffff;
$panel-title-height: 44px;
$panel-heading-font-size: 16px;

$small-panel-height: 114px;
$xsmall-panel-height: 187px;
$medium-panel-height: 400px;
$extra-medium-panel-height: 550px;
$large-panel-height: 974px;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
      width: $size;
      height: $size;
    }
  
    ::-webkit-scrollbar-thumb {
      background: $foreground-color;
      cursor: pointer;
    }
  
    ::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    body {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }
a{
    text-decoration-line: none;
    text-decoration-style: none;
    color: white;
    cursor: pointer;

    &:hover{
        color:black;
    }
}
.panel {
    @include scrollbars(.4em, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));
    color: $default-text;
    background-color: $default;
    border: none;
    padding: 2% !important;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    &.animated {
      animation-duration: 0.5s;
    }
    &.small-panel {
      height: $small-panel-height;
    }
    &.xsmall-panel {
      height: $xsmall-panel-height;
    }
    &.medium-panel {
      height: $medium-panel-height;
    }
    &.xmedium-panel {
      height: $extra-medium-panel-height;
    }
    &.large-panel {
      height: $large-panel-height;
    }
    &.viewport100 {
      height: calc(100vh - 218px);
    }
  
    &.with-scroll {
      .panel-body {
        height: calc(100% - #{$panel-title-height});
        overflow-y: auto;
      }
    }
  }

  .panel.panel-blur {
    $blurredBgUrl: '../../static/blur-bg-blurred.jpg';
    background: url($blurredBgUrl);
    transition: none;
    background-attachment: fixed;
  }
  
  .panel {
    > .panel-body {
      padding: 15px 22px;
      height: 100%;
    }
    > .panel-heading {
      color: $default-text;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    > .panel-footer {
      color: $default-text;
    }
  }

  .test{
      &:hover{
          background-color: #55acee !important;
          color: black !important
      }
  }
// .panel {
// //   @include scrollbars(.4em, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.7));
//   color: $default-text;
//   background-color: $default;
//   border: none;
//   border-radius: 5px;
//   position: relative;
//   margin-bottom: 24px;
//   box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
// }




/*
.panel-group .panel {
  border-radius: 0;
}*/
