$font-family: 'Roboto', sans-serif;
$resMin: 320px;
@mixin main-background() {
    // $mainBgUrl: './static/blur-bg.jpg';
  
    &::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      // background: url($mainBgUrl) no-repeat center center;
      background-color: rgba(#000000, 0.01);
      background-size: cover;
      // will-change: transform;
      z-index: -1;
    }
  }

html {
    position: relative;
    min-width: 320px;
    
  }

  html, body {
    min-height: 100%;
    min-width: $resMin;
  }
  
  body {
    font: 14px/16px $font-family;
    // color: white;
    @include main-background();
  }